@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500;700&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

/* --------------------- HOMEPAGE --------------------- */

.header {
  overflow: hidden;
  height: 610px;
  position: relative;
}

.header-body {
  position: relative;
}

.header-body h1 {
  margin-top: 10%;
  width: 787px;
  color: rgba(183, 128, 107, 0.69);
  font-family: Franklin Gothic Heavy;
  font-size: 78px;
  font-weight: 400;
}

.header-body p {
  width: 360px;
  height: 286px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header-body .croissant {
  width: 510px;
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  right: 19%;
  scale: 1;
  transition: scale 0.5s;
}

.header-body .croissant:hover {
  scale: 1.03;
}

.header-body .bg-roti {
  position: absolute;
  top: 15%;
  z-index: -1;
  aspect-ratio: 1/1;
  right: 15%;
}

.header-body .eiffel {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: -100px;
}

.shape {
  position: absolute;
  z-index: -99;
  width: 5000px;
  margin-left: -1980px;
  height: 2000px;
  transform: rotate(-17.688deg);
  flex-shrink: 0;
  background-color: #f5f2f2;
}

@media screen and (max-width: 1200px) {
  .header-body .croissant {
    right: 10%;
  }

  .header-body .bg-roti {
    right: 10%;
  }

  .shape {
    margin-left: -2050px;
  }
}

@media screen and (max-width: 800px) {
  .header-body h1 {
    width: 620px;
  }

  .header-body .croissant {
    width: 400px;
    position: absolute;
    aspect-ratio: 1/1;
    top: 16%;
    right: 0;
  }
}

.navbar-brand {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 24px;
  color: #7a7a7a;
}

.navbar {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

.navbar .nav-item a {
  color: #b7806b;
}

.navbar .nav-item a:hover {
  color: #de8461;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #dedede;
}

.keranjang-hp {
  width: min-content;
  margin-left: 60%;
}

.keranjang svg {
  color: #b37a64;
  scale: 1;
  transition: scale 0.3s;
}

.keranjang svg:hover {
  stroke: #de8461;
  scale: 1.05;
}

.notif {
  background: url("./_assets/notif.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  font-size: 12px;
  color: #ffffff;
  top: -10px;
  right: 5px;
}

.divider {
  color: #7a7a7a;
  font-size: 32px;
  width: 13px;
  height: 50px;
}

.login-button {
  font-size: 16px;
  font-weight: 600;
  color: #b7806b;
  text-decoration: none;
}

.login-button:hover {
  color: #cb6b44;
}

.register-button {
  border-radius: 10px;
  background: #b37a64;
  border: none;
  width: 100px;
  height: 38px;
  font-size: 16px;
  color: #f5f2f2;
  font-weight: 600;
  transition: background-color 0.3s;
}

.register-button:hover {
  background: #cb6b44;
}
.nav-greet {
  color: #7a7a7a;
  font-weight: 400;
  font-size: 16px;
}

.nav-greet:hover {
  color: black;
}

.--bs-dropdown-link-active-bg {
  color: #7a7a7a;
}
/* CAROUSEL */

.c-item {
  height: 673px;
}

.c-img {
  object-fit: cover;
  filter: brightness(0.8);
  height: 100%;
}

.c-caption {
  top: 30%;
}

.c-caption h1 {
  font-family: Franklin Gothic Heavy;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
}

.c-caption p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.carousel-indicators [data-bs-target] {
  width: 150px;
  border-radius: 10px;
}
/* END CAROUSEL */

/* MENU */
.menu {
  padding-bottom: 100px;
  background: url(./_assets/eiffel.webp);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.menu .menu-title {
  width: 117px;
  text-align: center;
  margin: 40px auto;
  color: #b7806b;
  font-family: Cormorant Infant;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.cards-container {
  display: grid;
  min-height: 500px;
  max-height: 900px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  margin: 0 30px;
  overflow-y: hidden;
  padding: 100px 50px;
  border-radius: 20px;
  background: linear-gradient(180deg, #d6ab83 0%, rgba(217, 217, 217, 0) 100%);
}

.card {
  width: 250px;
  height: 310px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  scale: 1;
  transition: scale 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  scale: 1.03;
}

.card button {
  border-radius: 20px;
  background: #d8b28e;
  border: none;
  width: 179px;
  height: 29px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.3s;
}

.card button:hover {
  background: #f0b782;
}

.card-desc {
  height: 150px;
}

.card h3 {
  color: #e3a56d;
  font-family: Cormorant Infant;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.5s ease;
}

.card:hover h3 {
  color: #ffa352;
}

.card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  margin: 0 auto;
  width: 75%;
  aspect-ratio: 1/1;
  margin-top: -80px;
}

.lihat-semua {
  width: 100%;
  text-align: center;
}

.lihat-semua button {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  margin-top: 30px;
  border: none;
  background: #d7ae87;
  color: #fff;
  font-family: "poppins";
  font-size: 16px;
  scale: 1;
  transition: background-color, scale 0.3s;
}

.lihat-semua button:hover {
  background: #f0b782;
  scale: 1.01;
}

.go-top {
  bottom: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #b37a64;
}

.go-top img {
  width: 70%;
  aspect-ratio: 4/4;
  z-index: 99;
}
/* --------------------- END HOMEPAGE --------------------- */

/* --------------------- FOOTER ---------------------*/

footer {
  background-color: #49360b;
}

.container {
  max-width: auto;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex-basis: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.col-md-6 h3 {
  padding-top: 50px;
  color: #fff;
  font-family: Cormorant Infant;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  padding-bottom: 20px;
}

.col-md-6 p {
  color: rgba(255, 255, 255, 0.748);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.col-md-6 img {
  margin-top: 40px;
}

.col-md-6 p {
  color: rgba(255, 255, 255, 0.425);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 100;
  margin-top: 20px;
}

ul.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

ul.footer-links li {
  padding-top: 55px;
  margin-left: 30px;
}

ul.footer-links li a {
  color: white;
  text-decoration: none;
}

ul.footer-links li a:hover {
  color: #de8461;
}

ul.footer-links li:first-child {
  margin-left: 0;
}

ul.footer-m {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 120px;
  filter: invert(50%);
  margin-top: 30px;
}

ul.footer-m li {
  margin-left: 30px;
  margin-top: 20px;
}

ul.footer-m li:first-child {
  margin-left: 0;
}

ul.footer-m img {
  width: 32px;
  height: 32px;
}

hr {
  background: rgba(255, 255, 255, 0.31);
  height: 3px;
  margin-left: 14px;
}

.copyright {
  color: rgba(255, 255, 255, 0.31);
  padding: 10px;
  text-align: center;
}

.copyright p {
  font-size: 13px;
}

/* --------------------- END FOOTER --------------------- */

/* --------------------- MENU --------------------- */
.menu-page {
  padding-bottom: 100px;
  background: url(./_assets/eiffel.webp);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.menu-page .menu-page-title {
  width: 300px;
  text-align: center;
  margin: 30px auto;
  color: #b7806b;
  font-family: Cormorant Infant;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
}

.menu-page .menu-cards-container {
  display: grid;
  min-height: 500px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  margin: 0 30px;
  padding: 100px 50px;
  border-radius: 20px;
  background: linear-gradient(180deg, #d6ab83 0%, rgba(217, 217, 217, 0) 100%);
}

.menu-page .menu-card {
  width: 250px;
  height: 310px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  scale: 1;
  transition: scale 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-page .menu-card:hover {
  scale: 1.03;
}

.menu-page .menu-card button {
  border-radius: 20px;
  background: #d8b28e;
  border: none;
  width: 179px;
  height: 29px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.3s;
}

.menu-page .menu-card button:hover {
  background: #f0b782;
}

.menu-page .menu-card-desc {
  height: 150px;
}

.menu-page .menu-card h3 {
  color: #e3a56d;
  font-family: Cormorant Infant;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.5s ease;
}

.menu-page .menu-card:hover h3 {
  color: #ffa352;
}

.menu-page .menu-card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-page .menu-card img {
  margin: 0 auto;
  width: 75%;
  aspect-ratio: 1/1;
  margin-top: -80px;
}
/* --------------------- END MENU --------------------- */

/* --------------------- DETAIL --------------------- */
.detail-container {
  width: 100%;
  background-color: #f5f2f2;
  height: 80vh;
  margin-top: 15%;
  padding: 0 20px;
  background-image: url(./_assets/eiffel.webp);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.detail-left {
  width: 30%;
  margin-top: -12%;
  text-align: center;
}

.detail-left img {
  width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  scale: 1;
  transition: scale 0.5s;
}

.detail-left img:hover {
  scale: 1.03;
}

.detail-left button {
  border-radius: 20px;
  background: #d8b28e;
  border: none;
  width: 150px;
  margin-top: 20px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.3s;
}

.detail-left button:hover {
  background: #f0b782;
}

.detail-right {
  width: 70%;
}

.detail-right h1 {
  font-family: Franklin Gothic Heavy;
  color: rgba(183, 128, 107, 0.69);
  font-size: 42px;
  margin-top: -13%;
  margin-bottom: 10%;
  transition: color 0.3s;
}

.detail-right h1:hover {
  color: rgb(184, 126, 104);
}

/* --------------------- END DETAIL --------------------- */

/* --------------------- KERANJANG --------------------- */
.keranjang-item img {
  width: 15%;
  aspect-ratio: 1/1;
}

.keranjang-desc {
  width: 70%;
}

.keranjang-desc h3 {
  color: #e3a56d;
  font-family: Cormorant Infant;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s;
}

.keranjang-desc h3:hover {
  color: #e57e23;
}

.keranjang-container hr {
  width: 95%;
}

.keranjang-container h1 {
  width: 300px;
  text-align: center;
  margin: 30px auto;
  color: #b7806b;
  font-family: Cormorant Infant;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
}

.keranjang-kosong {
  width: 350px;
  height: 80vh;
  text-align: center;
  margin: 30px auto;
  color: #b7806b;
  font-family: Cormorant Infant;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
}

.keranjang-total {
  font-family: Cormorant Infant;
  font-size: 32px;
  color: #b7806b;
  font-weight: 600;
}

.keranjang-item a {
  width: 35px;
}

.keranjang-item button {
  background: none;
  border: none;
}

.keranjang-item .remove {
  width: 100%;
  margin: 0 auto;
}

.keranjang-item .remove:hover {
  filter: brightness(1.5);
}

.keranjang-button button {
  border-radius: 10px;
  background: #d8b28e;
  border: none;
  width: 110px;
  height: 35px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.3s;
}

.keranjang-button button:hover {
  background: #f0b782;
}
/* --------------------- END KERANJANG --------------------- */

/* -------------------- RESPONSIVE -------------------- */
@media screen and (max-width: 1200px) {
  .header-body .croissant,
  .header-body .bg-roti {
    right: 8%;
  }

  .shape {
    margin-left: -2050px;
  }

  .header-body h1 {
    font-size: 72px;
    margin-top: 6%;
    width: 620px;
  }

  .header-body p {
    width: 45%;
  }

  .header-body h1,
  .header-body p {
    margin-left: 50px;
    margin-right: 50px;
  }

  .navbar-brand {
    font-size: 32px;
  }

  .menu-title {
    font-size: 40px;
    margin: 20px auto;
  }

  .go-top {
    width: 50px;
    height: 50px;
  }
}
/*-------------------------------------------------*/
@media screen and (max-width: 992px) {
  .header-body h1 {
    font-size: 64px;
    margin-top: 8%;
    width: 620px;
  }

  .header-body .croissant {
    width: 400px;
    position: absolute;
    aspect-ratio: 1/1;
    top: 16%;
    right: 0;
  }

  .header-body p {
    width: 55%;
    font-size: 16px;
  }

  .header-body h1,
  .header-body p {
    margin: 8% 20px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .menu-title {
    font-size: 40px;
    margin: 20px auto;
  }

  .lihat-semua button {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }

  .go-top {
    width: 50px;
    height: 50px;
  }

  .detail-container {
    height: 80vh;
    margin-top: 20%;
    background-position: bottom center;
  }

  .detail-left {
    width: 30%;
    margin-top: -12%;
    text-align: center;
  }

  .detail-left img {
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .detail-left button {
    border-radius: 20px;
    background: #d8b28e;
    border: none;
    width: 150px;
    margin-top: 20px;
    height: 30px;
    font-size: 14px;
    color: #fff;
  }

  .detail-right {
    width: 70%;
  }

  .detail-right h1 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .detail-right p {
    font-size: 14px;
    text-align: start;
  }
}
/*-------------------------------------------------*/
@media screen and (max-width: 656px) {
  .carousel-caption h1 {
    font-size: 40px !important;
    max-width: 100%;
    text-align: center;
    margin-top: -100px;
  }

  .carousel-caption p {
    font-size: 16px !important;
    max-width: 100%;
    text-align: center;
  }

  .header-body h1,
  .header-body p {
    margin: 20px auto;
    width: 90%;
  }

  .header-body .croissant {
    width: 90%;
    margin: 50px auto;
    display: block;
  }

  .header-body .bg-roti {
    margin: 500px auto;
  }

  .header-body .eiffel {
    margin: -100px auto;
  }

  .header-body h1 {
    font-size: 36px;
  }

  .header-body p {
    font-size: 14px;
  }

  hr {
    display: none;
  }

  .row {
    flex-direction: column;
    justify-content: center;
  }

  ul.footer-links {
    justify-content: start;
    margin-left: 8px;
  }

  ul.footer-m {
    justify-content: center;
    margin-left: 25%;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .keranjang-hp {
    width: min-content;
    margin-left: 45%;
  }

  .cards-container {
    padding: 100px 25px;
  }

  .menu-page .menu-cards-container {
    padding: 100px 25px;
  }

  .detail-container {
    width: 100%;
    background-color: #f5f2f2;
    height: max-content;
    margin-top: 40%;
    padding: 0 20px;
    padding-bottom: 50px;
  }

  .detail-left {
    width: 100%;
    margin-top: -30%;
    text-align: center;
  }

  .detail-left img {
    width: 70%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .detail-left button {
    border-radius: 20px;
    background: #d8b28e;
    border: none;
    width: 150px;
    margin-top: 20px;
    height: 30px;
    font-size: 14px;
    color: #fff;
  }

  .detail-right {
    width: 100%;
  }

  .detail-right h1 {
    font-family: Franklin Gothic Heavy;
    color: rgba(183, 128, 107, 0.69);
    font-size: 48px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  ul.footer-m {
    margin-left: 70%;
  }

  .keranjang-item {
    margin: 25px 0;
  }

  .keranjang-item img {
    width: 20%;
  }

  .keranjang-item h5 {
    font-size: 14px;
  }

  .keranjang-desc p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 3px;
  }

  .keranjang-desc h3 {
    font-size: 24px;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .keranjang-hp {
    width: min-content;
    margin-left: 35%;
  }
  .card {
    width: 100%;
  }

  .card img {
    width: 65%;
  }

  .card p {
    font-size: 14px;
  }

  .card button {
    width: 70%;
  }

  .menu-page .menu-card {
    width: 100%;
  }

  .menu-page .menu-card img {
    width: 65%;
  }

  .menu-page .menu-card p {
    font-size: 14px;
  }

  .menu-page .menu-card button {
    width: 70%;
  }
}

@media screen and (max-width: 340px) {
  .keranjang-hp {
    width: min-content;
    margin-left: 25%;
  }
}

/* ------------------------------------ REGISTER AND LOGIN ------------------------------------*/
