@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500;700&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.header {
  overflow: hidden;
  height: 610px;
  position: relative;
}

.header-body {
  position: relative;
}

.header-body h1 {
  margin-top: 10%;
  width: 787px;
  color: rgba(183, 128, 107, 0.69);
  font-family: Franklin Gothic Heavy;
  font-size: 78px;
  font-weight: 400;
}

.header-body p {
  width: 360px;
  height: 286px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header-body .croissant {
  width: 510px;
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  right: 19%;
}

.header-body .bg-roti {
  position: absolute;
  top: 15%;
  z-index: -1;
  aspect-ratio: 1/1;
  right: 15%;
}

.header-body .eiffel {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: -100px;
}

.shape {
  position: absolute;
  z-index: -99;
  width: 5000px;
  margin-left: -1980px;
  height: 2000px;
  transform: rotate(-17.688deg);
  flex-shrink: 0;
  background-color: #f5f2f2;
}

.navbar-brand {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 24px;
  color: #7a7a7a;
}

.navbar {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

.navbar .nav-item a {
  color: #b7806b;
}

.keranjang img {
  color: #b37a64;
}

.notif {
  background: url("./_assets/notif.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  font-size: 12px;
  color: #ffffff;
  top: -10px;
  right: 5px;
}

.divider {
  color: #49360b;
  font-size: 32px;
  width: 13px;
  height: 50px;
}

.login-button {
  font-size: 16px;
  font-weight: 600;
  color: #b7806b;
  text-decoration: none;
}

.register-button {
  border-radius: 10px;
  background: #b37a64;
  border: none;
  width: 100px;
  height: 38px;
  font-size: 16px;
  color: #f5f2f2;
  font-weight: 600;
}

/* CAROUSEL */

.c-item {
  height: 673px;
}

.c-img {
  object-fit: cover;
  filter: brightness(0.8);
  height: 100%;
}

.c-caption {
  top: 30%;
}

.c-caption h1 {
  font-family: Franklin Gothic Heavy;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
}

.c-caption p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.carousel-indicators [data-bs-target] {
  width: 150px;
  border-radius: 10px;
}
/* END CAROUSEL */

/* MENU */
.menu {
  padding-bottom: 100px;
  background: url(./_assets/eiffel.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.menu .menu-title {
  width: 117px;
  text-align: center;
  margin: 40px auto;
  color: #b7806b;
  font-family: Cormorant Infant;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.cards-container {
  display: grid;
  min-height: 500px;
  max-height: 1000px;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 0 30px;
  padding: 100px 50px;
  overflow: hidden;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(180deg, #d6ab83 0%, rgba(217, 217, 217, 0) 100%);
}

.card {
  width: 250px;
  height: 310px;
  flex-shrink: 0;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
}

.card button {
  border-radius: 20px;
  background: #d8b28e;
  border: none;
  width: 179px;
  height: 29px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
}

.card-desc {
  height: 150px;
}

.card h3 {
  color: #e3a56d;
  font-family: Cormorant Infant;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  margin: 0 auto;
  width: 75%;
  aspect-ratio: 1/1;
  margin-top: -80px;
}

.lihat-semua {
  width: 100%;
  text-align: center;
}

.lihat-semua button {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background: #d7ae87;
  color: #fff;
  font-family: "poppins";
  font-size: 16px;
}

