@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500;700&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #f5f2f2;
}

/* ----------------------------- HOME ADMIN -----------------------------*/

a {
  text-decoration: none;
  color: unset;
}

.announce h1{
  font-family: "Cormorant Infant", serif;
  font-size: 48px;
}

.announce button {
  border-radius: 10px;
  background: #b37a64;
  border: none;
  width: 80px;
  height: 38px;
  font-size: 14px;
  color: #f5f2f2;
  font-weight: 600;
}

.navbar {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 24px;
  color: #7a7a7a;
}

.navbar-brand span {
  font-size: 16px;
}

.logout-button {
  border-radius: 10px;
  background: #b37a64;
  border: none;
  width: 80px;
  height: 38px;
  font-size: 14px;
  color: #f5f2f2;
  font-weight: 600;
}

.list-menu {
  max-width: fit-content;
  margin: 0 auto;
}

.menu-greeting {
  font-family: "Cormorant Infant", serif;
  padding: 30px 0;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.menu-greeting h3 {
  font-weight: bold;
  font-size: 32px;
}

.menu-buttons {
  display: flex;
  margin-right: 10%;
}

.menu-buttons button {
  border-radius: 10px;
  background: #b37a64;
  border: none;
  width: 100px;
  height: 38px;
  font-size: 14px;
  color: #f5f2f2;
  font-weight: 600;
}

.table {
  width: 80%;
}

.table-list img {
  width: 70%;
  height: auto;
  aspect-ratio: 4/4;
}

.table-list button {
  border-radius: 10px;
  background: #b37a64;
  margin-top: 10px;
  border: none;
  width: 70px;
  height: 35px;
  font-size: 14px;
  color: #f5f2f2;
  font-weight: 600;
}

.go-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #b37a64;
  right: 5%;
}

.go-top img {
  width: 70%;
  aspect-ratio: 4/4;
}

/* ----------------------------- END HOME ADMIN ----------------------------- */

/* ----------------------------- CREATE ADMIN DAN EDIT ADMIN ----------------------------- */

.admin-form {
  width: 500px;
  padding: 50px;
  background: #b37a64;
  margin: 30px auto;
  color: #ffffff;
  font-size: 16px;
  border-radius: 20px;
}

.admin-form button {
  border-radius: 10px;
  background: #f5f2f2;
  border: none;
  margin: 0 auto;
  width: 110px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}

.greeting {
  font-family: "Cormorant Infant", serif;
  padding-top: 30px;
  text-align: center;
}

.greeting h3 {
  font-weight: bold;
  font-size: 32px;
}

/* ----------------------------- END CREATE ADMIN DAN EDIT ADMIN ----------------------------- */

@media screen and (max-width: 800px) {
  .menu-greeting {
    width: 300px;
  }

  .menu-greeting h3 {
    font-size: 24px;
  }

  .menu-buttons {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .admin-form {
    width: 350px;
    padding: 30px;
  }
}

@media screen and (max-width: 400px) {
  .admin-form {
    width: 300px;
    padding: 30px;
    font-size: 13px;
  }
}
